
/* Your CSS Code here. */
.accio{
	width:150px;
	height:150px;
	background-color:black;
	
}

.hello-accio{
	color:white;
	margin-left:32px;
	padding-right:10px;
	padding-top:10px;
	padding-bottom:10px;
	
}